/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Open_Sans_Bold;
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Open_Sans_ExtraBold;
  src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: Open_Sans_Italic;
  src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);
}
@font-face {
  font-family: Open_Sans_Regular;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Lato_Bold;
  src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato_Regular;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
/* line 33, ../sass/screen.scss */
body {
  font-family: Open_Sans_Regular, Arial, sans-serif;
  text-align: center;
}

/* line 39, ../sass/screen.scss */
.title {
  font-family: Open_Sans_Bold;
  color: #fff;
  text-align: center;
}

/* line 44, ../sass/screen.scss */
#page-layer {
  width: 100%;
  height: auto;
}

/* line 48, ../sass/screen.scss */
.common-prop-of-sections {
  position: relative;
  left: 0px;
  top: 0px;
  background: transparent;
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
}

/* line 57, ../sass/screen.scss */
.header {
  background-size: cover;
  width: 100%;
  height: 560px;
  box-shadow: 0px 0px 0px 300px rgba(0, 0, 0, 0.5) inset;
}

/* line 64, ../sass/screen.scss */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* line 74, ../sass/screen.scss */
.navbar-transparent {
  background: rgba(0, 0, 0, 0.3) !important;
  border: 0px;
}

/* line 78, ../sass/screen.scss */
.navbar-nav {
  float: right;
}
/* line 80, ../sass/screen.scss */
.navbar-nav li {
  box-sizing: border-box !important;
  overflow: hidden;
}
/* line 84, ../sass/screen.scss */
.navbar-nav li > a {
  position: relative;
  background: transparent !important;
  color: white !important;
  padding: 15px 30px !important;
  box-sizing: border-box !important;
  border-bottom: 2px solid transparent !important;
}
/* line 92, ../sass/screen.scss */
.navbar-nav a:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #709dca;
  position: absolute;
  top: 100%;
  left: -100%;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: ease;
}

/* line 106, ../sass/screen.scss */
.nav-link:hover {
  background: rgba(255, 255, 255, 0.15) !important;
}

/* line 109, ../sass/screen.scss */
.nav-link:hover::before {
  left: 0px;
}

/* line 112, ../sass/screen.scss */
.slick-dots {
  display: inline-flex;
}
/* line 114, ../sass/screen.scss */
.slick-dots li {
  margin: 0px 5px;
}
/* line 116, ../sass/screen.scss */
.slick-dots li button {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
  border: 0px;
}
/* line 125, ../sass/screen.scss */
.slick-dots .slick-active button {
  background: #ffc155;
}

/* line 130, ../sass/screen.scss */
.slider-dots {
  margin-top: 1em;
}

/* line 133, ../sass/screen.scss */
.header-title {
  font-size: 2em;
}

/* line 137, ../sass/screen.scss */
.header-slider {
  position: relative;
}

/* line 140, ../sass/screen.scss */
.header-slider-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
}

/* line 150, ../sass/screen.scss */
.slide-2, .slide-3 {
  display: none;
}

/* line 153, ../sass/screen.scss */
.header-slider-button {
  width: 2em;
  height: 2em;
  border: 2px solid #709dca;
  background: transparent;
  color: #ffc155;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -1em;
}

/* line 164, ../sass/screen.scss */
.rightButton {
  right: 0%;
}

/* line 167, ../sass/screen.scss */
.leftButton {
  left: 0%;
}

/* line 171, ../sass/screen.scss */
.header-slider-text {
  color: #fff;
  font-family: Open_Sans_Regular, Arial, sans-serif;
  font-size: 1.1em;
}

/* line 176, ../sass/screen.scss */
.slide-1-text {
  letter-spacing: 1.5px;
}

/* line 179, ../sass/screen.scss */
.header-slider-slide-content {
  margin-top: 100px;
}

/* line 182, ../sass/screen.scss */
.showButton {
  width: 200px;
  height: 60px;
  border: 0px;
  position: static;
  border-radius: 7px;
  background: #709dca;
  top: initial;
  font-family: Open_Sans_Bold, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 60px;
}

/* line 196, ../sass/screen.scss */
.container {
  height: 100%;
}

/* line 199, ../sass/screen.scss */
.header-container {
  height: 508px;
}

/* line 203, ../sass/screen.scss */
.navbar {
  margin-bottom: 0px;
}

/* line 206, ../sass/screen.scss */
.header-slider-dotsContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -52px;
}

/* line 215, ../sass/screen.scss */
.header-slider-dots {
  width: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 25px;
  box-sizing: border-box;
  border: 2px solid #fff;
  align-items: center;
  margin: 0 5px;
  background: transparent;
  border-radius: 50%;
}

/* line 229, ../sass/screen.scss */
.header-slider-dots:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  display: none;
}

/* line 238, ../sass/screen.scss */
.header-slider-dots:hover {
  cursor: pointer;
}

/* line 241, ../sass/screen.scss */
.header-slider-dots:hover::before {
  display: flex;
}

/* line 244, ../sass/screen.scss */
.service-section {
  background-color: #fff;
  padding: 50px 0;
}

/* line 248, ../sass/screen.scss */
.service-grid-info-part {
  text-align: left;
  margin-top: 3em;
}

/* line 253, ../sass/screen.scss */
.service-grid-info-part-logo {
  background: url("../images/Tools.png") no-repeat;
  width: 2em;
  height: 2em;
  float: left;
  margin-right: 25px;
}

/* line 260, ../sass/screen.scss */
.service-grid-info-header {
  font-family: Lato_Bold, Arial, sans-serif;
  text-transform: uppercase;
  color: #394b50;
  font-size: 1em;
}

/* line 266, ../sass/screen.scss */
.service-grid-info-text {
  margin-top: 1.5em;
  margin-left: 55px;
  font-family: Open_Sans_Regular, Arial, sans-serif;
  font-size: .9em;
  color: #7b7b7b;
  line-height: 20px;
}

/* line 274, ../sass/screen.scss */
.service-title {
  font-family: Open_Sans_Bold, Arial, sans-serif;
  text-transform: uppercase;
  color: #709dca;
  font-size: 1.5em;
}

/* line 281, ../sass/screen.scss */
.service-undertitle {
  color: #46575c;
  font-family: Open_Sans_Regular, Arial, sans-serif;
  font-size: 1em;
  margin-top: 2em;
}

/* line 287, ../sass/screen.scss */
.about-us {
  height: auto;
}

/* line 292, ../sass/screen.scss */
.about-us .container {
  width: 100%;
  max-width: 2500px;
}

/* line 296, ../sass/screen.scss */
.about-us--slider-container {
  display: flex;
}

/* line 299, ../sass/screen.scss */
.about-us--slider--image-part-images.image2 {
  display: none;
}

/* line 302, ../sass/screen.scss */
.about-us--slider--image-part-images.image1 {
  background-image: url(../images/who_slider/slide1.png);
}

/* line 305, ../sass/screen.scss */
.about-us--slider--image-part-images {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 310, ../sass/screen.scss */
.about-us--slider--content-part, .about-us--slider--image-part {
  padding: 0;
  width: 50%;
}

/* line 314, ../sass/screen.scss */
.about-us--slider--content-part {
  background-color: #ffc155;
  text-align: left;
  padding: 60px 80px 40px;
}

/* line 319, ../sass/screen.scss */
.about-us--slider--content-part--header {
  font-family: Open_Sans_Bold, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
}

/* line 325, ../sass/screen.scss */
.about-us--slider--content-part--text {
  font-family: Open_Sans_Regular, Arial, sans-serif;
  font-size: .8em;
  color: #fff;
  line-height: 22px;
  margin-top: 2em;
}

/* line 332, ../sass/screen.scss */
.about-us--slider--content-part--text--button {
  width: 200px;
  height: 50px;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.06);
  color: #fff;
  font-family: Lato_Regular, Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 4em;
}

/* line 343, ../sass/screen.scss */
.portfolio {
  background-color: #fff;
}

/* line 346, ../sass/screen.scss */
.portfolio--container {
  width: 100%;
  max-width: 1350px;
  padding-top: 80px;
  margin: 0 auto;
}

/* line 352, ../sass/screen.scss */
.galery .galery--slide-container {
  height: auto;
  background-color: blue;
  padding: 0px;
  overflow: hidden;
  position: relative;
  margin-top: -1px;
}

/* line 360, ../sass/screen.scss */
.portfolio--container .container {
  width: 100%;
}

/* line 363, ../sass/screen.scss */
.portfolio--navigation {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 371, ../sass/screen.scss */
.portfolio--head-text {
  width: 80%;
  margin: 0 auto;
  color: #384d5c;
  font-family: Open_Sans_Regular, Arial, sans-serif;
}

/* line 377, ../sass/screen.scss */
.portfolio--header, .testimonials-header {
  color: #709dca;
  font-family: Open_Sans_ExtraBold, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
}

/* line 383, ../sass/screen.scss */
.portfolio--under-header-image {
  width: 100%;
  height: 20px;
}

/* line 387, ../sass/screen.scss */
.portfolio--navigation--links > a {
  padding: 3px 16px;
  background-color: transparent;
  border-radius: 5px;
  text-decoration: none;
  font-family: Open_Sans_Regular, Arial, sans-serif;
  color: #062033;
}

/* line 395, ../sass/screen.scss */
.portfolio--navigation--links > a:hover {
  background-color: #709dca;
  color: #fff;
}

/* line 399, ../sass/screen.scss */
.galery--galery-slide {
  height: 283px;
  box-sizing: border-box;
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  margin-left: -1px;
}

/* line 408, ../sass/screen.scss */
.galery--galery-slide.slide1 {
  background-image: url(../images/portfolio/image1.png);
}

/* line 411, ../sass/screen.scss */
.galery--galery-slide.slide2 {
  background-image: url(../images/portfolio/image2.png);
}

/* line 414, ../sass/screen.scss */
.galery--galery-slide.slide3 {
  background-image: url(../images/portfolio/image3.png);
}

/* line 417, ../sass/screen.scss */
.galery--galery-slide.slide4 {
  background-image: url(../images/portfolio/image4.png);
}

/* line 420, ../sass/screen.scss */
.galery--galery-slide.slide5 {
  background-image: url(../images/portfolio/image5.png);
}

/* line 423, ../sass/screen.scss */
.galery--galery-slide.slide6 {
  background-image: url(../images/portfolio/image6.png);
}

/* line 426, ../sass/screen.scss */
.galery--galery-slide.slide7 {
  background-image: url(../images/portfolio/image7.png);
}

/* line 429, ../sass/screen.scss */
.galery--galery-slide.slide8 {
  background-image: url(../images/portfolio/stork.png);
}

/* line 432, ../sass/screen.scss */
.galery--galery-slide--effect {
  width: 100%;
  height: 283px;
  background: rgba(255, 193, 85, 0.7);
  position: absolute;
  top: 283px;
  left: 0px;
  transition: .4s all ease;
}

/* line 441, ../sass/screen.scss */
.galery--galery-slide:hover ~ .galery--galery-slide--effect, .galery--galery-slide--effect:hover {
  top: 0px;
  cursor: pointer;
}

/* line 445, ../sass/screen.scss */
.galery--galery-slide--effect--img {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 10px 3px;
  border: 2px solid #fff;
  margin: 90px auto 30px;
}

/* line 454, ../sass/screen.scss */
.galery--galery-slide--effect > strong {
  display: block;
  color: #fff;
  font-family: Open_Sans_Bold, Arial, sans-serif;
  margin-bottom: 10px;
}

/* line 460, ../sass/screen.scss */
.galery--galery-slide--effect > span {
  display: block;
  color: #fff;
  font-family: Open_Sans_Regular, Arial, sans-serif;
  font-size: .9em;
}

/* line 466, ../sass/screen.scss */
.testimonials {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 471, ../sass/screen.scss */
.testimonials--line {
  display: block;
  width: 220px;
  height: 1px;
  background: #ffc155;
  margin: 30px auto -12px;
}

/* line 478, ../sass/screen.scss */
.testimonials--content {
  margin-top: 3em;
}

/* line 481, ../sass/screen.scss */
.testimonials--undertitle-icon {
  background: white;
  display: inline-block;
  padding: 0 5px;
}

/* line 489, ../sass/screen.scss */
.testimonials--content--comments {
  text-align: left;
}

/* line 492, ../sass/screen.scss */
.testimonials--content--comments--text-form {
  background: #f6f3f3;
  height: auto;
  padding: 30px;
  width: 90%;
  text-align: left;
  font-family: Open_Sans_Italic, sans-serif;
  font-size: .8em;
  line-height: 20px;
  margin-bottom: 15px;
  position: relative;
}

/* line 504, ../sass/screen.scss */
.testimonials--content--comments--text-form::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid #f6f3f3;
  border-right: 22px solid transparent;
  position: absolute;
  bottom: -18px;
  left: 50px;
}

/* line 514, ../sass/screen.scss */
.testimonials--content--comments--signature {
  color: #000;
  font-family: Open_Sans_Bold, Arial, sans-serif;
  font-size: 0.9em;
  vertical-align: super;
  display: inline-block;
  margin-left: 10px;
}

/* line 522, ../sass/screen.scss */
.testimonials--content--comments--signature ~ span {
  color: #000;
  font-family: Open_Sans_Regular, Arial, sans-serif;
  font-size: 0.9em;
  vertical-align: super;
}

/* line 528, ../sass/screen.scss */
.testimonials--content--control {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

/* line 533, ../sass/screen.scss */
.testimonials--content--control li {
  width: 20px;
  height: 20px;
  background: #d4d3d4;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 3px;
}

/* line 541, ../sass/screen.scss */
.testimonials--content--control li:hover {
  border-color: #709dca;
  background: transparent;
  cursor: pointer;
}

/* line 546, ../sass/screen.scss */
.footer {
  text-align: left;
  padding: 50px 0;
  background: #273a43;
  color: #c4c4c4;
  font-family: Lato_Regular, Arial, sans-serif;
  font-size: .8em;
  line-height: 17px;
}

/* line 555, ../sass/screen.scss */
.footer-header {
  color: #fff;
  font-family: Open_Sans_Regular, Arial, sans-serif;
  font-size: 1.5em;
  display: inline-block;
  margin-bottom: 1em;
}

/* line 562, ../sass/screen.scss */
.footer--contact-column--contact-info li {
  color: #fff;
  margin: 5px 0;
  font-size: 1.1em;
}

/* line 567, ../sass/screen.scss */
.footer--contact-column--contact-info span {
  color: #709dca;
  font-size: 1.4em;
  display: inline-block;
  margin-right: 1em;
}

/* line 573, ../sass/screen.scss */
.footer--contact-column--contact-info {
  margin-top: 1em;
}

/* line 576, ../sass/screen.scss */
i {
  display: block;
  float: left;
  font-size: 1.3em;
  color: #709dca;
}

/* line 582, ../sass/screen.scss */
.footer--tweets-column--text {
  padding-left: 2em;
}

/* line 585, ../sass/screen.scss */
.footer--tweets-column-tweet > span {
  display: inline-block;
  margin-left: 2em;
  margin-top: .5em;
  color: #709dca;
}

/* line 591, ../sass/screen.scss */
.footer--tweets-column-tweet {
  margin-bottom: 1em;
}

/* line 594, ../sass/screen.scss */
.footer--form-column--text-input {
  display: inline-block;
  width: 75%;
  border: 0px;
  height: 2.5em;
  padding: 3px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #172227;
}

/* line 604, ../sass/screen.scss */
.footer--form-column--button {
  width: 25%;
  border: 0px;
  height: 2.5em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #71b6d5;
  color: #fff;
}

/* line 613, ../sass/screen.scss */
.footer--form-column--form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
}

/* line 619, ../sass/screen.scss */
.footer-row > div {
  margin-bottom: 2em;
}

/* line 622, ../sass/screen.scss */
.footer--bottom-part {
  text-align: center;
  background: #172227;
  color: #fff;
  font-size: .8em;
}

/* line 628, ../sass/screen.scss */
.footer--bottom-part--icon-bg {
  width: 2em;
  height: 2em;
  float: left;
  background: #2c3b42;
  margin-right: 5px;
}
/* line 634, ../sass/screen.scss */
.footer--bottom-part--icon-bg i {
  line-height: 25px;
  color: #fff;
}

/* line 639, ../sass/screen.scss */
.footer--bottom-part--icon-bg:hover {
  background: #71b6d5;
  cursor: pointer;
}

/* line 643, ../sass/screen.scss */
.footer--bottom-part--row > p, .footer--bottom-part--row > div {
  padding: 2em 0;
}

/* line 646, ../sass/screen.scss */
.footer--bottom-part--icons {
  display: inline-flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  /* line 651, ../sass/screen.scss */
  .testimonials--line {
    width: 100%;
  }

  /* line 655, ../sass/screen.scss */
  .about-us--slider--image-part-images {
    height: 300px;
  }
}
@media screen and (max-width: 1280px) {
  /* line 660, ../sass/screen.scss */
  .about-us {
    overflow: visible;
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  /* line 666, ../sass/screen.scss */
  .about-us--slider-container {
    flex-direction: column;
  }

  /* line 669, ../sass/screen.scss */
  .about-us--slider--image-part-images {
    height: 400px;
  }

  /* line 672, ../sass/screen.scss */
  .about-us--slider--content-part, .about-us--slider--image-part {
    width: 100%;
  }
}
@media (min-aspect-ratio: 16 / 9) {
  /* line 677, ../sass/screen.scss */
  .video-background {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  /* line 684, ../sass/screen.scss */
  .video-background {
    width: 300%;
    left: -100%;
  }
}
@supports (object-fit: cover) {
  /* line 691, ../sass/screen.scss */
  .video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* line 699, ../sass/screen.scss */
.arrows-container {
  position: absolute;
  top: 50%;
  z-index: 2;
}

/* line 704, ../sass/screen.scss */
.arrow-btn {
  width: 3em;
  height: 3em;
  background: transparent;
  color: #ffc155;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* line 712, ../sass/screen.scss */
.prev-arrow {
  left: 0px;
}

/* line 715, ../sass/screen.scss */
.next-arrow {
  right: 0px;
}
